@model Person
@{
    Layout = null;

}
@if (Model == null)
{
    <div class="card p-4">
        <div class="row">
            <div class="col fw-bold">@ViewBag.ERROR</div>
        </div>
    </div>
}
else
{
    <div class="card p-4">
        <div class="row">
            <div class="col fw-bold">ID</div>
            <div class="col fw-bold">Name</div>
            <div class="col fw-bold">Phone Number</div>
            <div class="col fw-bold">City</div>
            <div class="col fw-bold">Language</div>
        </div>
        <div class="row">
            <div class="col"><span>@Model.ID</span></div>
            <div class="col"><span>@Model.Name</span></div>
            <div class="col"><span>@Model.Phone</span></div>
            <div class="col"><span>@Model.City.Name</span></div>
            <div class="col"><span>@Views_Shared_Function.GetLanguageString(Model)</span></div>
        </div>
    </div>
}