@model Person

<div class="row">
    <div class="col">@Model.Name</div>
    <div class="col">@Model.Phone</div>
    <div class="col">@Model.City.Name</div>
    <div class="col">@Views_Shared_Function.GetLanguageString(Model)</div>
    <div class="col"><a class="btn btn-danger" asp-controller="People" asp-action="UpdatePerson" asp-route-id="@Model.ID">Edit</a></div>
    <div class="col"><a class="btn btn-danger" asp-controller="People" asp-action="DeletePerson" asp-route-id="@Model.ID">Delete</a></div>
</div>
    